* {
    margin: 0;
    padding: 0;
    background-color: rgb(184, 129, 235);
    width: auto;
}

.container {
    padding-top: 40px;
}

img {
    width: 80%;
    height: 35%;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
}

label[for="email"], label[for="fullname"], label[for="password"] {
    float: left;
    margin: 0 auto;
    width: 180px;
    font-weight: bold;
    padding: 7px 0;
    background-color: azure;
}

label[for="email"] {
    width: 150px;
}

label[for="password"] {
    width: 200px;
}

strong {
    background-color: azure;
}

p {
    background-color: azure;
    padding: 10px 0;
}

.user-form {
    display: block;
    text-align: center;
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    background-color: azure;
    border-radius: 15px;
    justify-content: center;
    
}

.user-form p {
    text-align: center;
    color: #777;
}

.user-form strong {
    color: rgb(43, 42, 42);
    text-decoration: underline;
}

input {
    border: none;
    padding: 10px 0;
    width: 300px;
}

input[type="submit"] {
    display: inline-block;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="email"] {
    color: #212121;
    font-size: 12px;
    font-weight: 300;
    background-color: azure;
    border-bottom: 2px solid blueviolet;
    border-radius: 3px;
}

input[type="password"] {
    margin-bottom: 15px;
}

/* .btn {
    display: inline-block;
    padding-top: 50px;

} */